<div class="d-flex dark:bg-gray" id="wrapper">
  <div class="border-right dark:bg-grey-dark" id="sidebar-wrapper">
    <div class="sidebar-heading" style="text-align: center">
      <img src="assets/img/ioet.png" width="90" height="auto" style="padding-top: 2rem; padding-bottom: 2rem;" alt="logo" />
    </div>
    <div class="list-group list-group-flush">
            <a
              *ngFor="let item of itemsSidebar"
              [routerLink]="item.route"
              routerLinkActive=""
              class="list-group-item list-group-item-action dark:bg-grey-dark dark:text-white"
              [ngClass]="{active: item.active}"
            >
              <i class="{{ item.icon }}"></i> {{ item.text }}
            </a>
    </div>
  </div>
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light border-bottom">
      <button class="btn btn-primary" id="menu-toggle">
        Toggle Menu
      </button>
      <div class="dark-mode-toggle">
        <app-dark-mode></app-dark-mode>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <app-user></app-user>
        </ul>
      </div>
    </nav>
    <div class="container-fluid px-0 full-height">
        <div class="content_app h-100">
          <router-outlet></router-outlet>
        </div>
    </div>
  </div>
</div>
