<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper" *ngIf="itemsSidebar?.length > 0">
    <div class="text-center my-5">
      <img src="assets/img/ioet.png" width="70" height="auto" class="img-fluid" alt="ioet logo" />
    </div>
    <div class="container">
      <a
        *ngFor="let item of itemsSidebar"
        [routerLink]="item.route"
        routerLinkActive=""
        class="item-hover item"
        [ngClass]="{active: item.active}"
      >
        <i class="{{ item.icon }}"></i> {{ item.text }}
      </a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <div class="main_app">
    <div class="header_app">
      <app-navbar></app-navbar>
    </div>
    <div class="content_app">
      <!-- Page Content -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!-- /#wrapper -->
