@import '../../../../../styles/colors.scss';

body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 769px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
  #hide-sidebar {
    display: block;
  }
  #show-sidebar {
    display: none;
  }
}

@media (max-width: 768px) {
  #hide-sidebar {
    display: none;
  }
  #show-sidebar {
    display: block;
  }
}

.content_app {
  padding: 2rem 3rem 5rem 3rem;
  overflow-y: scroll;
}

.active {
  color: $primary;
  font-weight: bold;
  border-color: $primary;
  background-color: transparent;
}

.full-height {
  height: 100%;
  height: -moz-calc(100vh - 1vh);
  height: -webkit-calc(100vh - 1vh);
  height: -o-calc(100vh - 1vh);
  height: calc(100vh - 1vh);
}
