@import '../../../../../../../styles/colors.scss';

.project-list {
  max-height: 300px; overflow: auto; display:inline-block; width: 100%;
}

.btn--switch{
  font-size: 1rem;
  border: 1px solid #c5c5c5;
  border-radius: 20px;
}

.iconTwo{
  color: #a1a1a1;
}