<div class="project-list">
  <table class="table table-sm table-bordered table-striped">
    <thead class="thead-blue">
      <tr class="d-flex">
        <th class="col-4">Project ID</th>
        <th class="col-5">Project</th>
        <th class="col-3 text-center"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="d-flex" *ngFor="let project of projects">
        <td class="col-sm-4">{{ project.id }}</td>
        <td class="col-sm-5">{{ project.name }}</td>
        <td class="col-sm-3 text-center">
          <button type="button" class="btn btn-sm btn-primary" (click)="updateProject(project)">
            <i class="fa fa-pencil fa-xs"></i>
          </button>
          <button
            type="button"
            data-toggle="modal"
            data-target="#deleteModal"
            class="btn btn-sm btn-danger ml-2"
            (click)="openModal(project)"
          >
            <i class="fa fa-trash-alt fa-xs"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-dialog
  *ngIf="showModal"
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  [title]="'Delete Project'"
  [body]="message"
  (closeModalEvent)="deleteProject()"
>
</app-dialog>
