<div class="project-list">
  <table class="table table-sm table-bordered table-striped">
    <thead class="thead-blue">
      <tr class="d-flex">
        <th scope="col" class="col-4 text-center">Project ID</th>
        <th scope="col" class="col-3 text-center">Project</th>
        <th scope="col" class="col-2 text-center">Project Type</th>
        <th scope="col" class="col-1 text-center">Options</th>
        <th scope="col" class="col-2 text-center">Visibility</th>
      </tr>
    </thead>
    <tbody>
      <tr class="d-flex" *ngFor="let project of projects">
        <td class="col-sm-4">{{ project.id }}</td>
        <td class="col-sm-3">{{ project.name }}</td>
        <td class="col-sm-2">{{ project.project_type.name }}</td>
        <td class="col-sm-1 text-center">
          <button type="button" class="btn btn-sm btn-primary" (click)="updateProject(project)">
            <i class="fa fa-pencil fa-xs"></i>
          </button>
        </td>
        <td class="col-sm-2 text-center">
          <app-dropdown
            [info] = "project"
            (updateInfo) = "switchStatus($event)"> 
          </app-dropdown>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-dialog
  *ngIf="showModal"
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  [title]="'Disable Project'"
  [body]="message"
  (closeModalEvent)="deleteProject()"
>
</app-dialog>
