<!-- -<div class="d-flex">
  -  <div
  -    class="month w-100 text-center align-self-center d-flex flex-column"
  -    *ngFor="let month of months; let i = index"
  -    (click)="getMonth(i)"
  -    [ngClass]="{ active: activeMonth === i }"
  -  >
  -   <div class="p-2">{{ month }}</div>
  -  </div>
  -</div>
   -->
<div class="month-picker">
  <div class="card">
    <div class="card-header">
      <div class="d-flex align-items-center">
        <button class="btn mr-auto" (click)="decrement()">
          <i class="fa fa-chevron-left"></i>
          </button>
        <button class="btn" (click)="toggleShowYears()">
          {{model.selectedYearText}}
        </button>

        <button class="btn ml-auto" (click)="increment()">
          <i class="fa fa-chevron-right"></i>
        </button>
    </div>
  </div>
    <div class="card-body">
			<div class="month-picker-body">
        <div class="row" *ngIf="!isShowYears">
          <div class="col-md-3 col-sm-3 col-xs-6" *ngFor="let month of model.months; let i = index">
            <div class="month-picker-cell">
              <button class="btn btn-block"
              [ngClass]="{'btn-primary': isSelectedMonth(i)}"
                (click)="selectMonth(i)">
                <small>{{month}}</small>
              </button>
            </div>
          </div>
        </div>


        <div class="row" *ngIf="isShowYears">
          <div class="col col-4" *ngFor="let year of years; let i = index">
            <div class="month-picker-cell">
              <button class="btn btn-block"
              [ngClass]="{'btn-primary': isSelectedYear(year)}"
              (click)="selectYear(year)"
              >
                <small>{{year}}</small>
              </button>
            </div>
          </div>
        </div>

			</div>
		</div>
	</div>
</div>