@import '../../../../../styles/colors.scss';

.month {
  background: $header;
  color: white;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.active {
  background-color: $item-background;
}
