.loader-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000aa;
    pointer-events: none;
}
.loader-message-container {
    color: whitesmoke;
    font-size: 1.5rem;
}
.loader-progress-container {
    padding: 5px;
    min-height: 1.3rem;
    width: 100%;
    background-color: black;
}
.progress-bar {
    min-height: 1rem;
    background-color: orange;
}