<div class="container">
  <form style="width: 600px;">
    <div class="form-group">
      <input type="text" class="form-control form-control-sm" id="" aria-describedby="" placeholder="Name" />
      <textarea
        class="form-control form-control-sm mt-2"
        id="descriptionTextArea"
        rows="3"
        placeholder="Description"
      ></textarea>
      <button type="submit" class="btn btn-sm btn-primary mb-2 mt-2">Save</button>
      <button type="submit" class="btn btn-sm btn-secondary mb-2 ml-2 mt-2">Cancel</button>
    </div>
  </form>
  <hr />
  <app-project-type-list></app-project-type-list>
</div>
