@import '../../../../../styles/colors.scss';

.save-button-style {
  background-image: $button-primary-color;
  color: white;
}

.cancel-button-style {
  background-color: $modal-button-secondary;
  color: white;
}
