<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action bg-light"><i class="fas fa-flag"></i>   Getting Started</a>
            <a href="#" class="list-group-item list-group-item-action bg-light"><i class="far fa-clock"></i>   Time Clock</a>
            <a href="#" class="list-group-item list-group-item-action bg-light"><i class="far fa-list-alt"></i>  Time Entries</a>
            <a href="#" class="list-group-item list-group-item-action bg-light"><i class="far fa-paper-plane"></i>  Time Off</a>
            <a href="#" class="list-group-item list-group-item-action bg-light"><i class="fas fa-chart-pie"></i>   Reports</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <div class="container-fluid">
            <h1 class="mt-4">Content</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus sequi voluptates quasi laudantium vel hic quam rem consectetur cupiditate officia delectus totam sapiente, excepturi error? Eos, laudantium voluptatem. Amet, eum?.</p>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->