<div class="card-body">
  <app-search-project (changeFilterProject)="filterProjects = $event"></app-search-project>
  <hr />
  <div class="scroll">
    <div class="accordion" id="accordionProject">
      <div *ngIf="projects?.length > 0; else notShow">
        <div class="card" *ngFor="let project of projects | filterProject: filterProjects; let rowIndex = index">
          <div class="card-header style-list-project">
            <h2 class="mb-0">
              <a
                type="button"
                data-toggle="collapse"
                [attr.data-target]="'#row' + rowIndex"
                [attr.aria-controls]="'row' + rowIndex"
              >
                {{ project.name }}
              </a>
              <div class="btn-group float-right" role="group">
                <i (click)="editProject.emit(project)" class="far fa-edit btn btn-link text-white"></i>
                <i
                  (click)="openModal(project)"
                  data-toggle="modal"
                  data-target="#deleteModal"
                  class="far fa-trash-alt btn btn-link text-white"
                ></i>
              </div>
            </h2>
          </div>

          <div [id]="'row' + rowIndex" class="collapse" data-parent="#accordionProject">
            <div class="card-body">
              <h5>Description:</h5>
              <p>{{ project.description }}</p>
            </div>
          </div>
        </div>
      </div>
      <ng-template #notShow>
        <app-empty-state></app-empty-state>
      </ng-template>
    </div>
  </div>
</div>

<app-modal
  *ngIf="openDeleteModal"
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  [list]="projectToDelete"
  (removeList)="removeProject($event)"
>
</app-modal>
