<div class="card-body">
  <div class="scroll">
    <div class="accordion" id="accordionProject">
      <div *ngIf="projects?.length > 0; else notShow">
        <div class="card" *ngFor="let project of projects; let rowIndex = index">
          <div class="card-header list-color">
            <h2 class="mb-0">
              <a type="button" data-toggle="collapse" [attr.data-target]="'#row'+rowIndex" [attr.aria-controls]="'row'+rowIndex">
                {{project.name}}
              </a>
              <div class="btn-group float-right" role="group">
                <i (click)="editProject.emit(project.id)" class="far fa-edit btn text-white"></i>
                <i (click)="openModal(project)" data-toggle="modal" data-target="#deleteModal" class="far fa-trash-alt btn text-white"></i>
              </div>
            </h2>
          </div>
          <div [id]="'row'+rowIndex" class="collapse" data-parent="#accordionProject">
            <div class="card-body">
              <h5>Details:</h5>
              <p>{{project.details}}</p>
              <h5>Status:</h5>
              <p>{{project.status}}</p>
              <h5>Completed project:</h5>
              <p>
                {{project.completed ? 'Yes' : 'No'}}
              </p>
            </div>
          </div>
        </div>
      </div>
      <ng-template #notShow>
        <app-empty-state></app-empty-state>
      </ng-template>
    </div>
  </div>
</div>

<app-modal *ngIf="openDeleteModal" class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true" [list]="projectToDelete"
  (removeList)="removeProject($event)">
</app-modal>