<form style="width: 600px;" [formGroup]="projectTypeForm" (ngSubmit)="onSubmit(projectTypeForm.value)">
  <div class="form-group">
    <input type="text"class="form-control form-control-sm"
      id="name"
      formControlName="name"
      aria-describedby=""
      [class.is-invalid]="name.invalid && name.touched"
      required placeholder="Name"
      (input)="onInputChangeProjectType($event.target.value)"
    />
    <div class="text-danger" *ngIf="(name.dirty || name.touched) && name.invalid && name.errors.required">
      Name is required.
    </div>
  </div>
  <div class="form-group">
    <textarea class="form-control
      form-control-sm mt-2"
      id="descriptionTextArea"
      rows="3"
      placeholder="Description"
      formControlName="description"
      (input)="onInputChangeProjectType($event.target.value)"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!projectTypeForm.valid">
    Save
  </button>
  <button class="btn btn-secondary mb-2 ml-2 mt-2" type="reset" [hidden]="!projectTypeToEdit"
    (click)="cancelButton()">
    Cancel
  </button>
</form>
<hr/>
