<div>
  <div>
    <button
      type="button"
      (click)="newEntry()"
      data-toggle="modal"
      data-target="#editRecordsByDate"
      class="btn btn-primary"
    >
      Add new entry
    </button>
    <button
      type="button"
      (click)="onDisplayModeChange()"
      class="btn btn-primary float-right"
      *ngIf="isFeatureToggleCalendarActive"
    >
      <em class="fas fa-list" *ngIf="displayGridView"></em>
      <em class="fas fa-th" *ngIf="!displayGridView"></em>
    </button>
  </div>
  <div style="height: 15px"></div>
  <app-month-picker [selectedDate]="selectedDate" (dateSelected)="dateSelected($event)"></app-month-picker>
  <div style="height: 15px"></div>


  <div id="gridView" [hidden]="!displayGridView">
    <div *ngIf="timeEntriesDataSource$ | async as dataSource">
      <app-loading-bar *ngIf="dataSource.isLoading"></app-loading-bar>
      <app-calendar
        *ngIf="!dataSource.isLoading"
        [timeEntries$]="timeEntriesDataSource$"
        [currentDate]="selectedDate.toDate()"
        [calendarView]="calendarView"
        (changeDate)="changeDate($event)"
        (changeView)="changeView($event)"
        (viewModal)="editEntry($event.id)"
        (deleteTimeEntry)="openModal($event.timeEntry)"
      >
      </app-calendar>
    </div>
  </div>
 
  <div id="listView" [hidden]="displayGridView">
    <table 
      class="table table-sm table-striped mb-0"
      datatable
      [dtTrigger]="dtTrigger"
      [dtOptions]="dtOptions" 
      *ngIf="(timeEntriesDataSource$ | async) as dataSource">
      <caption></caption>
      <thead class="thead-blue">
        <tr class="d-flex">
          <th class="col">Date</th>
          <th class="col">Time in - out</th>
          <th class="col">Duration</th>
          <th class="col">Customer</th>
          <th class="col">Project</th>
          <th class="col">Activity</th>
          <th class="col"></th>
        </tr>
      </thead>
      <tr *ngIf="dataSource.isLoading">
        <td class="text-center" colspan="7">{{NO_DATA_MESSAGE}}</td>
      </tr>
      <app-loading-bar *ngIf="dataSource.isLoading"></app-loading-bar>
      <tbody *ngIf="!dataSource.isLoading">
        <tr *ngIf="!dataSource?.data.length">
          <td class="text-center" colspan="7">{{NO_DATA_MESSAGE}}</td>
        </tr>
        <tr class="d-flex" *ngFor="let entry of dataSource.data">
          <td class="col">{{ entry.start_date | date: 'MM/dd/yyyy' }}</td>
          <td class="col">{{ entry.start_date | date: 'HH:mm' }} - {{ entry.end_date | date: 'HH:mm' }}</td>
          <td class="col">{{ entry.end_date | substractDate: entry.start_date }}</td>
          <td class="col">{{ entry.customer_name }}</td>
          <td class="col">{{ entry.project_name }}</td>
          <td class="col">{{ entry.activity_name }}</td>
          <td class="col">
            <button
              class="btn btn-sm btn-primary"
              data-toggle="modal"
              data-target="#editRecordsByDate"
              (click)="editEntry(entry.id)"
            >
              <i class="fa fa-edit fa-xs"></i>
            </button>
            <button
              class="btn btn-sm btn-danger ml-2"
              data-toggle="modal"
              data-target="#deleteModal"
              (click)="openModal(entry)"
            >
              <i class="fa fa-trash fa-xs"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="editRecordsByDate" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content" cdkDrag (cdkDragEnded)="resetDraggablePosition($event)">
      <div class="modal-header">
        <h5 class="modal-title">{{ entryId ? 'Edit Entry' : 'New Entry' }}</h5>
        <div>
          <button class="btn shadow-none"  data-bs-toggle="tooltip" title="Clean form values" (click)="detailsFields.cleanFieldsForm()">
            <em class="fa fa-eraser"> </em>
          </button>
          <button class="btn shadow-none"  data-bs-toggle="tooltip" title="Drag modal" cdkDragHandle>
            <em class="fa fa-grip-vertical"></em>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <app-details-fields
          [entryToEdit]="entry"
          (saveEntry)="saveEntry($event)"
          (projectSelected)="projectSelected($event)"
          [canMarkEntryAsWIP]="canMarkEntryAsWIP"
          #detailsFields
        >
        </app-details-fields>
      </div>
    </div>
  </div>
</div>

<app-dialog
  *ngIf="showModal"
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  [body]="message"
  [title]="'Delete Entry'"
  (closeModalEvent)="removeEntry()"
>
</app-dialog>
