<div class="container-time-entries">
  <div class="card">
    <div class="card-header title-card text-white">Time Entries</div>
    <app-month-picker (monthSelected)="getMonth($event)"></app-month-picker>
    <div class="row m-0 header-entries">
      <div class="col">Project</div>
      <div class="col">Duration</div>
      <div class="col-2">Actions</div>
    </div>
    <!--Accordion wrapper-->
    <div *ngIf="dataByMonth.length > 0; else emptyState" class="accordion accordion-container" role="tablist" aria-multiselectable="true">
      <div class="card" *ngFor="let entry of dataByMonth | groupByDate; let rowIndex = index">
        <!-- Card header -->
        <div class="date-header title-card" role="tab" id="heading10">
          <a data-toggle="collapse" [href]="'#entry' + rowIndex">
            <div class="mb-0 text-white">
              {{ entry.date }}
            </div>
          </a>
        </div>

        <!-- Card body -->
        <div *ngFor="let item of entry.details" [id]="'entry' + rowIndex" class="collapse show" role="tabpanel" aria-labelledby="heading10">
          <div class="row m-0 entries">
            <div class="col">
              {{ item.project }}
            </div>
            <div class="col">
              {{ item.duration }}
            </div>
            <div class="col-2">
              <button class="btn btn-sm btn-small" data-toggle="modal" data-target="#editRecordsByDate" (click)="editEntry(item.id)">
                <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-sm btn-small" data-toggle="modal" data-target="#deleteModal" (click)="openModal(item)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #emptyState>
      <app-empty-state></app-empty-state>
    </ng-template>
  </div>
</div>
<div class="modal fade" id="editRecordsByDate" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit Entry</h5>
      </div>
      <div class="modal-body">
        <app-details-fields [formType]='"entries"' [entryToEdit]="entry" (saveEntry)="saveEntry($event)"></app-details-fields>
      </div>
    </div>
  </div>
</div>
<app-modal *ngIf="showModal" class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true" [list]="entryToDelete" (removeList)="removeEntry($event)">
</app-modal>