@import '../../../../styles/colors.scss';

.container-time-entries {
  padding: 1rem;
}

.header-entries {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.accordion-container {
  max-height: 25rem;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.date-header {
  background-image: $background-gradient-items;
  border-radius: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  font-size: small;
  padding: 0 0.9rem;

  a {
    color: #000000;
  }
}

.btn-small > i {
  font-size: 0.8rem;
  opacity: 0.7;
}

.entries {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  font-size: small;

  &:hover {
    background-color: #d5edf0;
    cursor: pointer;
  }
}
