<div class="table-responsive-sm">
  <table
    *ngIf="customers"
    class="table table-bordered table-striped mb-0"
    datatable
    [dtTrigger]="dtTrigger"
    [dtOptions]="dtOptions"
  >
    <thead class="thead-blue">
      <tr class="d-flex">
        <th class="col-4 text-center">Customer ID</th>
        <th class="col-4 text-center">Name</th>
        <th class="col-2 text-center">Options</th>
        <th class="col-2 text-center">Visibility</th>
      </tr>
    </thead>
    <app-loading-bar *ngIf="(isLoading$ | async)"></app-loading-bar>
    <tbody *ngIf="((isLoading$ | async) === false)">
      <tr class="d-flex" *ngFor="let customer of customers">
        <td class="col-4 text-break">{{ customer.id }}</td>
        <td class="col-4 text-break">{{ customer.name }}</td>
        <td class="col-2 text-center">
          <button 
            data-toggle="modal" 
            (click)="editCustomer(customer.id)" 
            type="button" data-target="#editModal"
            class="btn btn-sm btn-primary">
            <i class="fa fa-pen fa-xs"></i>
          </button>
        </td>
        <td class="col-2 text-center">
          <app-dropdown
              [info] = "customer"
              (updateInfo) = "switchStatus($event)"
            > </app-dropdown>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-dialog
  *ngIf="showModal"
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  [title]="'Disable Customer'"
  [body]="message"
  (closeModalEvent)="deleteCustomer()"
>
</app-dialog>

<app-dialog
  *ngIf="showModal"
  class="modal fade"
  id="editModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  [title]="'Edit Customer'"
  [body]="message"
  (closeModalEvent)="closeModal()"
  >
</app-dialog>
