<table class="table table-sm table-bordered table-striped mb-0">
  <thead class="thead-orange">
    <tr class="d-flex">
      <th class="col-9">Name</th>
      <th class="col-3 text-center"></th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="d-flex"
      *ngFor="let customer of customers | paginate: { itemsPerPage: itemsPerPage, currentPage: initPage1, id: 'first' }"
    >
      <td class="col-sm-9">{{ customer.name }}</td>
      <td class="col-sm-3 text-center">
        <button (click)="editCustomer(customer.id)" type="button" class="btn btn-sm btn-primary">
          <i class="fa fa-pencil fa-xs"></i>
        </button>
        <button (click)="deleteCustomer(customer.id)" type="button" class="btn btn-sm btn-danger ml-2">
          <i class="fa fa-trash-alt fa-xs"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="d-flex align-items-end flex-column">
  <pagination-controls
    class="mt-auto p-2 custom-pagination"
    (pageChange)="initPage1 = $event"
    id="first"
    previousLabel=""
    nextLabel=""
  ></pagination-controls>
</div>
