<div class="row">
    <div class="col-md-2">
        <a class="nav-link dropdown-toggle help-color" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-question-circle"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item">Getting Started Guie</a>
            <a class="dropdown-item">Product Help</a>
            <a class="dropdown-item">Suggest Idea</a>
            <a class="dropdown-item">What's New</a>
        </div>
    </div>

    <div class="col-md-2">
        <a class="nav-link dropdown-toggle help-color" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="far fa-bell"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item">Notifications</a>
            <div class="dropdown-divider"></div>
            <p class="text-center"> Empty </p>
        </div>
    </div>

    <div class="col-md-5">

        <a class="nav-link dropdown-toggle help-color" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="far fa-user-circle"></i> Dario Herrera
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item">Profile user</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Time clock</a>
            <a class="dropdown-item">Profile</a>
            <a class="dropdown-item">Support tools</a>
            <a class="dropdown-item">Sign Out</a>

        </div>
    </div>