.parent {
    display: flex;
  }

.item {
  width: 50%;
  margin: 2em;
  min-height: 500px;
  max-height: 500px;
}

@media screen and (max-width: 600px){
  .parent {
    flex-direction: column-reverse;
  }

  .item {
    width: auto;
    min-height: 200px;
  }
}
