@import '../colors.scss';

$primary: #fc5630;
$secondary: #16bac5;
$success: #16bac5;
$info: #30bced;
$light: #ffffff;
$dark: #5c4e63;

.bg-primary,
.btn-primary,
.badge-primary,
.alert-primary {
  background-image: $background-pantone;
  border: none;
}

.bg-secondary,
.btn-secondary,
.badge-secondary,
.alert-secondary {
  background-image: linear-gradient(to right, #00cc6c, #00bcbd);
  border: none;
}

.thead-orange {
  background-image: $background-pantone;
  color: white;
}

.custom-pagination ::ng-deep .ngx-pagination .current {
  background-image: $background-pantone !important;
  border-radius: 8px;
}

.btn:focus,
.btn:active {
  border: none;
}
