<form style="width: 600px;" [formGroup]="projectForm" (ngSubmit)="onSubmit(projectForm.value)">
  <div class="form-group">
    <input
      type="text"
      class="form-control form-control-sm"
      placeholder="Project name"
      formControlName="name"
      [class.is-invalid]="name.invalid && name.touched"
      (input)="onInputChangeProject($event.target.value)"
    />
    <div class="text-danger" *ngIf="(name.dirty || name.touched) && name.invalid && name.errors.required">
      Project name is required.
    </div>
  </div>
  <textarea
    class="form-control form-control-sm mt-2"
    rows="3"
    formControlName="description"
    placeholder="Description"
    (input)="onInputChangeProject($event.target.value)"
  ></textarea>
  <div class="form-group">
    <select class="custom-select custom-select-sm mt-2" formControlName="project_type_id">
      <option value="" selected>Select project type</option>
      <option *ngFor="let type of projectsTypes" [value]="type.id">{{ type.name }}</option>
    </select>
  </div>
  <button type="submit" [disabled]="!projectForm.valid" class="btn btn-primary">Save</button>
  <button
    type="reset"
    [hidden]="!projectToEdit"
    (click)="cancelButton()"
    class="btn btn-secondary mb-2 ml-2 mt-2"
  >
    Cancel
  </button>
</form>
<hr />
