<form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Activity:</label>
    <select
      (change)="onSubmit()"
      class="form-control"
      formControlName="activity_id"
      [class.is-invalid]="activity_id.invalid && activity_id.touched"
      required>
      <option value="-1"></option>
      <option *ngFor="let activity of activities" value="{{ activity.id }}">{{ activity.name }}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Ticket URI:</label>
    <input
      (blur)="onSubmit()"
      type="text"
      id="uri"
      formControlName="uri"
      class="form-control"
    />
  </div>

  <app-technologies
    (technologyAdded)="onTechnologyAdded($event)"
    (technologyRemoved)="onTechnologyRemoved($event)"
    [selectedTechnologies]="selectedTechnologies"
  >
  </app-technologies>

  <div class="form-group">
    <label>Description:</label>
    <textarea
      maxlength="1500"
      (blur)="onSubmit()"
      formControlName="description"
      class="form-control"
      id="NotesTextarea"
      rows="2"></textarea>
  </div>

</form>
