<div class="container mb-1">
  <form style="width: 600px;">
    <div class="form-group">
      <input type="text" class="form-control form-control-sm" id="" aria-describedby="" placeholder="Project name" />
      <textarea
        class="form-control form-control-sm mt-2"
        id="exampleFormControlTextarea1"
        rows="3"
        placeholder="Description"
      ></textarea>
      <select class="form-group custom-select custom-select-sm mt-2">
        <option selected>Select project type</option>
        <option value="1">a..</option>
        <option value="2">b..</option>
      </select>
      <button type="submit" class="btn btn-sm btn-primary">Save</button>
      <button type="submit" class="btn btn-sm btn-secondary mb-2 ml-2 mt-2">Cancel</button>
    </div>
  </form>
  <hr />
  <div class="row text-right">
    <hr />
    <app-search></app-search>
  </div>
  <app-project-liist></app-project-liist>
</div>
