@import '../../../../../styles/colors.scss';

.bg-header {
  background-image: $title-card-header-background;
  color: white;
}


.scroll {
  max-height: 165px;
  overflow-y: auto;
}

.custom-pagination ::ng-deep .ngx-pagination .current {
  background-image: $title-card-header-background;
  border-radius: 8px;
}
