<div class="card-body">
  <h1 class="card-title">Project List</h1>
  <hr>
  <app-search-project (changeFilterProject)="filterProjects = $event"></app-search-project>
  <hr>
  <div class="scroll">
    <div class="accordion" id="accordionProject">
      <div *ngIf="projects?.length > 0; else notShow">
        <div class="card" *ngFor="let project of projects | filterProject:filterProjects; let rowIndex = index">
          <div class="card-header">
            <h2 class="mb-0">
              <a type="button" data-toggle="collapse" [attr.data-target]="'#row'+rowIndex"
                [attr.aria-controls]="'row'+rowIndex">
                {{project.name}}
              </a>
              <div class="btn-group float-right" role="group">
                <i (click)="editProject.emit(project.id)" class="far fa-edit btn btn-link"></i>
                <i (click)="openModal(project)" data-toggle="modal" data-target="#deleteModal"
                  class="far fa-trash-alt btn btn-link"></i>
              </div>
            </h2>
          </div>
          <div [id]="'row'+rowIndex" class="collapse" data-parent="#accordionProject">
            <div class="card-body">
              <h5>Details:</h5>
              <p>{{project.details}}</p>
              <h5>Status:</h5>
              <p>{{project.status}}</p>
              <h5>Completed project:</h5>
              <p>{{project.completed ? 'Yes' : 'No'}}</p>
            </div>
          </div>
        </div>
      </div>
      <ng-template #notShow>
        <div class="card">
          <div class="card-body">
            <h4 class="card-text">There is no any project.</h4>
            <h5 class="card-text">Please, create one.</h5>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<app-modal *ngIf="openDeleteModal" class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true"
  [list]="projectToDelete" (removeList)="removeProject($event)">
</app-modal>