$width: 128px;

:host {
    position: absolute;
    width: $width;
    left: -$width;
  }

  :host(.touch-ui) {
    position: relative;
    left: 0;
    display: flex;
    width: 100%;
  }

.list-time-range{
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.custom-items-time-range{
  padding-top: 0 !important;
}

.custom-mat-list-option{
  height: 35px !important;
}
