.col{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sm-col{
  width: 6em;
  max-width: 8em;
}
.md-col{
  width: 9em;
}

.lg-col{
  width: 12em;
  overflow: hidden;
  white-space: normal;
}
