@import '../../../../../styles/colors.scss';
.col{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: small;
}
.x-sm-col{
  width: 5em;
  max-width: 7em;
}

.sm-col{
  width: 6em;
  max-width: 8em;
}

.md-col{
  width: 9em;
}

.lg-col{
  width: 12em;
  overflow: hidden;
  white-space: normal;
}
.hidden-col{
  display: none;
}

.scroll-table {
  overflow-x: scroll;
  width: 100%;
  display: grid;
}

$url-base-color: $primary;
$url-hover-color: darken($url-base-color, 20);

.is-url {
  cursor: pointer;
  color: $url-base-color;
  text-decoration: underline;

  &:visited {
    color: $dark;
  }

  &:hover {
    color: $url-hover-color;
  }

  &:active {
    color: $url-base-color;
  }
}

table.dataTable thead th {
  position: relative;
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
  position: absolute;
  top: 10px;
  right: 3px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  color: #ff5e0a;
  -webkit-text-stroke: 2px white;
}

table.dataTable thead .sorting_asc::after {
  content: "▲";
}

table.dataTable thead .sorting_desc::after {
  content: "▼";
}

table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
  background-image: none;
}

.badge {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5em;
  color: #FFFFFF !important;
  font-weight: bold;
  text-transform: capitalize;
  font-style: italic;
  cursor: pointer;
}
