@import '../../../../../styles/colors.scss';
.col{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: small;
}
.x-sm-col{
  width: 5em;
  max-width: 7em;
}

.sm-col{
  width: 6em;
  max-width: 8em;
}

.md-col{
  width: 9em;
}

.lg-col{
  width: 12em;
  overflow: hidden;
  white-space: normal;
}
.hidden-col{
  display: none;
}

.scroll-table {
  overflow-x: scroll;
  width: 100%;
  display: grid;
}

$url-base-color: $primary;
$url-hover-color: darken($url-base-color, 20);

.is-url {
  cursor: pointer;
  color: $url-base-color;
  text-decoration: underline;

  &:visited {
    color: $dark;
  }

  &:hover {
    color: $url-hover-color;
  }

  &:active {
    color: $url-base-color;
  }
}

