<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./v2-redirect.component.scss">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div>
    <img id="logo" src="../../../assets/img/time-tracker-logo-v2.png" alt="Time Tracker v2 logo">
</div>
<div>
    <img id="main-image" src="../../../assets/img/main-image.png" alt="person moving boxes">
</div>
<div class="text">
    <h1>WE HAVE MOVED</h1>
    <h3 id="quote">World is in<br>constant evolution,<br><strong>SO ARE WE.</strong></h3>
</div>
<div class="redirection">
    <h2>GO TO TIME TRACKER v2</h2>
    <a class="btn btn-primary" href="https://ui.timetrackerapp.ioet.com/" role="button">ui.timetrackerapp.ioet.com</a>
</div>
<div class="decoration">
    <img src="../../../assets/img/decoration.png" alt="decoration blue splash">
</div>


