<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,800;0,900;1,600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./v2-redirect.component.css" />
  </head>

  <body>
    <div>
      <img id="logo" src="../../../assets/img/time-tracker-logo.png" alt="Time Tracker logo" />
    </div>
    <div class="decoration">
      <img src="../../../assets/img/decoration.png" alt="decoration blue splash" />
    </div>
    <div class="grid">
      <div>
        <img id="main-image" src="../../../assets/img/main-image.png" alt="person moving boxes" />
      </div>
      <div class="text">
        <h1>WE HAVE MOVED</h1>
        <h3 id="quote">The world is in<br />constant evolution,<br /><strong>SO ARE WE.</strong></h3>
      </div>
      <div class="redirection">
        <div id="goto">
          <h2>GO TO TIME TRACKER V2</h2>
        </div>
        <div id="link">
          <a class="btn btn-primary btn-lg" href="https://ui.timetrackerapp.ioet.com/" role="button"
            >ui.timetrackerapp.ioet.com</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
