@import '../../../../../styles/colors.scss';

.activity-list {
  overflow: auto;
}
.btn--switch{
  font-size: 1rem;
  border: 1px solid #c5c5c5;
  border-radius: 20px;
}

.iconTwo{
  color: #a1a1a1;
}