<div class="activity-list">
  <table class="table table-sm table-bordered table-striped">
    <thead class="thead-blue">
      <tr class="d-flex">
        <th class="col-4 text-center">Activity ID</th>
        <th class="col-4 text-center">Activity</th>
        <th class="col-2 text-center">Options</th>
        <th class="col-2 text-center">Operation</th>
      </tr>
    </thead>
    <app-loading-bar *ngIf="isLoading$ | async"></app-loading-bar>
    <tbody *ngIf="(isLoading$ | async) === false">
      <tr class="d-flex" *ngFor="let activity of activities">
        <td class="col-4 text-break">{{ activity.id }}</td>
        <td class="col-4">{{ activity.name }}</td>
        <td class="col-2 text-center">
          <button type="button" class="btn btn-sm btn-primary" (click)="updateActivity(activity.id)">
            <i class="fa fa-pencil fa-xs"></i>
          </button>
        </td>
        <td class="col-2 text-center">
            <app-dropdown
              [info] = "activity"
              (updateInfo) = "changeOperation($event)"
            > </app-dropdown>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-dialog
  *ngIf="showModal"
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  [title]="'Disable Activity'"
  [body]="message"
  (closeModalEvent)="deleteActivity()"
>
</app-dialog>
