@import '../../../../../styles/colors.scss';

.nav-active {
  color: $primary;
}
.nav-item > a:hover {
  opacity: 0.6;
}

.nav-box {
  background-color: $primary;
  text-align: center;
}

.nav-title {
  vertical-align: center;
  color: white;
  font-size: large;
  font-weight: bold;
}
