.current-elapsed-time-box{
  border-color: #FF5E0A;
  border-width: 2px;
  background-color: #FF5E0A;
  color: white;
  border-radius: .25rem;
}

.c-title{
  position: relative;
  bottom: 9px;
}

.clock-out{
  text-align: center;
}

.bt-clock-out{
  background: #00baee;
  color: #fff;
  padding: 7px 20px;
}

.bt-clock-out:hover{
  background: #10a5ce;
  box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.56);
  -webkit-box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.56);
  -moz-box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.56);
  color: #fff;
}