.content-projects {
  max-height: 10rem;
  overflow-x: auto;

  li {
    cursor: pointer;
    font-size: 0.8rem;
    padding: 0.5rem 0.8rem;
  }
}

.button-clockIn {
  font-size: 0.7rem;
  padding: 0 0.3rem;
}

.active {
  background-image: linear-gradient(to left top, #fc5630, #fe503a, #ff4a44, #ff444d, #ff3f56);
  border-color: transparent;
}
