<app-search-project (changeFilterProject)="filterProjects = $event"></app-search-project>
<ul class="list-group content-projects">
  <div *ngFor="let item of listProjects | filterProject:filterProjects;  let i = index" class="container">
    <li *ngIf="item.status === 'Active'" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" (mouseenter)="showButton = i" (mouseleave)="showButton = -1" (click)="clockIn(item.id)" [ngClass]="{ active: selectedId === item.id }">
      {{ item.name }}
      <span *ngIf="showButton != i" class="badge badge-success">{{ item.status }}</span>
      <span *ngIf="showButton === i && selectedId !== item.id" class="badge badge-light">Clock In</span>
    </li>
  </div>
</ul>