@import '../../../../../styles/colors.scss';

.span-width {
  width: 6rem;
  background-color: $primary;
  color: white;
  height: 40px;
}

.btn-select {
  padding: 2px 10px;
  font-size: x-small;
}

.container {
  font-size: small;
  cursor: text;
}

.autocomplete {
  width: 80%;
  display: block;
  background-clip: padding-box;
  border: none;
  margin: 0em;
  padding: 0em;
}

.btn-update {
  background-color: #ff5e06;
  color: white;
}
