<ng-template #contentTimeEntry let-timeEntries="timeEntries">
  <div
    class="time-entries"
    data-toggle="tooltip"
    data-toggle="modal"
    data-placement="top"
    data-target="#editRecordsByDate"
    title="{{ timeEntries.description }}"
    (click)="handleEditEvent(timeEntries)"
    [ngClass]="{ 'running-entry': timeEntries.running }"
  >
    <p class="project-name">
      {{ timeEntries.project_name }}
    </p>
    <div *ngIf="timeIsGreaterThan(timeEntries.start_date, timeEntries.end_date, 15)">
      <p>
        {{ timeEntries.activity_name }}
      </p>
      <p class="additional" *ngIf="isVisibleForCurrentView(calendarView, [CALENDAR_VIEW_ENUM.Month])">
        <em class="far fa-clock"></em>
        {{ timeEntries.start_date | date: 'HH:mm' }} -
        {{ timeEntries.end_date | date: 'HH:mm' }}
      </p>
    </div>
    <div
      *ngIf="
        isVisibleForCurrentView(calendarView, VISIBLE_TARGETS_FOR_TIME_ENTRIES_DESCRIPTION)"
    >
      <p
        class="additional {{ 'line-' + getCardEntryHeight(timeEntries.start_date, timeEntries.end_date) }}"
        *ngIf="timeIsGreaterThan(timeEntries.start_date, timeEntries.end_date, 60)"
      >
        {{ timeEntries.description }}
      </p>
    </div>
  </div>
</ng-template>

<ng-template #deleteIcon let-timeEntry="timeEntry">
  <div
    class="close-icon position-absolute d-flex justify-content-center align-items-center btn-danger"
    data-toggle="modal"
    data-target="#deleteModal"
    (click)="handleDeleteEvent(timeEntry)"
  >
    <em class="far fa-trash-alt"></em>
  </div>
</ng-template>

<ng-template #timeEntriesInsideMonthCalendarTemplate let-day="day" let-locale="locale">
  <div class="call-cell-top">
    <span class="cal-day-number">{{ day.date | calendarDate: 'monthViewDayNumber':locale }}</span>
  </div>
  <div class="container-time-entries position-relative" *ngFor="let timeEntry of day.events">
    <ng-container *ngTemplateOutlet="contentTimeEntry; context: { timeEntries: timeEntry.meta }"></ng-container>
    <ng-container *ngTemplateOutlet="deleteIcon; context: { timeEntry: timeEntry }"></ng-container>
  </div>
</ng-template>

<ng-template #timeEntriesInsideDaysCalendarTemplate let-weekEvent="weekEvent" let-locale="locale">
  <div class="container-time-entries container-time-entries-adapt-height position-relative">
    <ng-container *ngTemplateOutlet="contentTimeEntry; context: { timeEntries: weekEvent.event.meta }"></ng-container>
    <ng-container *ngTemplateOutlet="deleteIcon; context: { timeEntry: weekEvent.event }"></ng-container>
  </div>
</ng-template>

<div>
    <div class="row justify-content-between ">
      <div class="col-xs-12 col-sm-4 col-md-5 custom-left-buttons-group">
        <div class="btn-group" role="group" aria-label="Move date">
          <button
            mwlCalendarPreviousView
            type="button"
            [(view)]="calendarView"
            [(viewDate)]="currentDate"
            class="btn btn-navigation btn-light btn-block m-0"
            (click)="handleChangeDateEvent()"
          >
            Previous
          </button>
          <button
            mwlCalendarToday
            [ngClass]="{ active: isToday }"
            type="button"
            [(viewDate)]="currentDate"
            class="btn btn-navigation btn-light btn-block m-0"
            (click)="handleChangeDateEvent()"
          >
            Today
          </button>
          <button
            mwlCalendarNextView
            type="button"
            [(view)]="calendarView"
            [(viewDate)]="currentDate"
            class="btn btn-navigation btn-light btn-block m-0"
            (click)="handleChangeDateEvent()"
            [disabled]="nextDateDisabled"
          >
            Next
          </button>
        </div>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 text-center currentDate">
        <p class="font-weight-bold h5">
          {{ currentDate | date: 'EEEE' }}
        </p>
        <P class="h5">
          {{ currentDate | date: 'MMM d' }}
        </P>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-5 custom-right-buttons-group">
        <div class="btn-group" role="group" aria-label="Calendar View">
          <button
            [ngClass]="{ active: isVisibleForCurrentView(calendarView, [CALENDAR_VIEW_ENUM.Month]) }"
            type="button"
            class="btn btn-navigation btn-light btn-block m-0"
            (click)="changeCalendarView(CALENDAR_VIEW_ENUM.Month)"
          >
            Month
          </button>
          <button
            [ngClass]="{ active: isVisibleForCurrentView(calendarView, [CALENDAR_VIEW_ENUM.Week]) }"
            type="button"
            class="btn btn-navigation btn-light btn-block m-0"
            (click)="changeCalendarView(CALENDAR_VIEW_ENUM.Week)"
          >
            Week
          </button>
          <button
            [ngClass]="{ active: isVisibleForCurrentView(calendarView, [CALENDAR_VIEW_ENUM.Day]) }"
            type="button"
            class="btn btn-navigation btn-light btn-block m-0"
            (click)="changeCalendarView(CALENDAR_VIEW_ENUM.Day)"
          >
            Day
          </button>
        </div>
      </div>
    </div>
  <div class="switch-calendar-view" [ngSwitch]="calendarView" #scrollContainer>
    <mwl-calendar-month-view
      *ngSwitchCase="CALENDAR_VIEW_ENUM.Month"
      [viewDate]="currentDate"
      [events]="timeEntriesAsEvent"
      [cellTemplate]="timeEntriesInsideMonthCalendarTemplate"
      [weekStartsOn]="WEEK_START_DAY"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CALENDAR_VIEW_ENUM.Week"
      [viewDate]="currentDate"
      [events]="timeEntriesAsEvent"
      [hourSegmentHeight]="HALF_HOUR * VARIATION_HEIGHT"
      [eventTemplate]="timeEntriesInsideDaysCalendarTemplate"
      [weekStartsOn]="WEEK_START_DAY"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CALENDAR_VIEW_ENUM.Day"
      [viewDate]="currentDate"
      [events]="timeEntriesAsEvent"
      [hourSegmentHeight]="HALF_HOUR * VARIATION_HEIGHT"
      [eventTemplate]="timeEntriesInsideDaysCalendarTemplate"
    >
    </mwl-calendar-day-view>
  </div>
</div>
