@import '/src/styles/colors.scss';
@import '/src/styles/vars.scss';

$line-height-value: $line-height-base * $font-size-base;

$max-lines-project: 2;
$max-lines-activity: 1;
$max-lines-description: 50;
$container-time-entries-margin: 0.125;
$time-entries-padding: 0.5rem;
$project-name-line-height: 1;

$project-text-size: $max-lines-project * $project-name-line-height;
$activity-text-size: $max-lines-activity * $line-height-base;

@function calculate-border-color($base-background-color) {
  @return darken(desaturate(adjust-hue($base-background-color, 6), 18), 27);
}

@function calculate-bold-text-color($text-color) {
  @return darken(saturate(adjust-hue($text-color, 6), 46.19), 40.98);
}

.switch-calendar-view {
  height: calc(100vh - 320px);
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
  border-radius: 5px;
}

@for $card-height from 12 through $max-lines-description {
  $wrap-height: ($card-height * 0.625rem) -
    $project-text-size -
    $activity-text-size -
    $container-time-entries-margin -
    $time-entries-padding;
  $line-clamp: ($wrap-height / $line-height-value);
  .line-#{$card-height} {
    overflow-y: hidden;
    height: $wrap-height;
    display: -webkit-box;
    -webkit-line-clamp: round($line-clamp);
    -webkit-box-orient: vertical;
  }
}

.container-time-entries {
  margin: $container-time-entries-margin;

  div.time-entries {
    padding: $time-entries-padding;
    height: 100%;
    border-radius: 7px;
    overflow-y: hidden;
    color: $primary-text;
    margin: 2px 6px 0px 5px;
    overflow-wrap: anywhere;
    background-color: $background-card-entry;
    border-left: 5px solid calculate-border-color($background-card-entry);
    -webkit-box-shadow: 0px 2px 5px 0px lighten($shadow-card-entry, 50%);
    -moz-box-shadow: 0px 2px 5px 0px lighten($shadow-card-entry, 50%);
    box-shadow: 0px 2px 5px 0px lighten($shadow-card-entry, 50%);

    p {
      margin: 0px;
    }

    p.project-name {
      color: calculate-bold-text-color($primary-text);
      line-height: 1;
      display: -webkit-box;
      -webkit-line-clamp: $max-lines-project;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    p.additional {
      overflow-wrap: anywhere;
      color: calculate-bold-text-color($primary-text);
    }
  }

  div.running-entry {
    border-left: 5px solid calculate-border-color($background-card-entry-activate);
    background-color: $background-card-entry-activate;
    color: $activate-text;

    p.project-name {
      color: calculate-bold-text-color($activate-text);
    }

    p.additional {
      color: calculate-bold-text-color($activate-text);
    }
  }
}

.container-time-entries-adapt-height {
  height: calc(100% - 2px);
  min-height: 40px;
}

.close-icon {
  font-size: 0.7em;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  color: white;
  top: -5px;
  right: -5px;
  -webkit-box-shadow: 0px 2px 5px 0px lighten($shadow-card-entry, 50%);
  -moz-box-shadow: 0px 2px 5px 0px lighten($shadow-card-entry, 50%);
  box-shadow: 0px 2px 5px 0px lighten($shadow-card-entry, 50%);
}

.currentDate {
  p {
    margin: 0;
  }
  padding-right: 0px;
}

@media (max-width: 576px) {
  .custom-right-buttons-group {
    text-align: center;
  }
  .custom-left-buttons-group {
    text-align: center;
  }
}

@media (min-width: 576px) {
  .custom-right-buttons-group {
    text-align: end;
  }
  .custom-left-buttons-group {
    text-align: start;
  }
}

.btn-navigation {
  padding-left: 6px;
  padding-right: 6px;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .currentDate {
    margin-left: 14px;
    p {
      margin: 0;
    }
    padding-right: 0px;
  }
}
