<form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text span-width">Project</span>
    </div>
    <select
      [class.is-invalid]="project_id.invalid && project_id.touched"
      required
      id="project_id"
      class="custom-select"
      formControlName="project_id"
    >
      <option value="" selected="selected"></option>
      <option *ngFor="let project of listProjects" value="{{ project.id }}">{{ project.name }}</option>
    </select>
  </div>

  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text span-width" id="inputGroup-sizing-sm">Activity</span>
    </div>
    <select
      [class.is-invalid]="activity_id.invalid && activity_id.touched"
      required
      id="activity_id"
      class="custom-select"
      formControlName="activity_id"
    >
      <option value="" selected="selected"></option>
      <option *ngFor="let activity of activities" value="{{ activity.id }}">{{ activity.name }}</option>
    </select>
    <div
      class="invalid-feedback"
      *ngIf="(activity_id.dirty || activity_id.touched) && activity_id.invalid && activity_id.errors.required"
    ></div>
  </div>

  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text span-width" id="inputGroup-sizing-sm">Ticket</span>
    </div>
    <input
      formControlName="uri"
      id="uri"
      type="text"
      class="form-control"
      aria-label="Small"
      aria-describedby="inputGroup-sizing-sm"
    />
  </div>

  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text span-width" id="inputGroup-sizing-sm">Date</span>
    </div>
    <input
      formControlName="entry_date"
      id="entry_date"
      type="date"
      class="form-control"
      aria-label="Small"
      aria-describedby="inputGroup-sizing-sm"
      [class.is-invalid]="entry_date.invalid && entry_date.touched"
      required
    />
  </div>
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text span-width" id="inputGroup-sizing-sm">Time in</span>
    </div>
    <input
      formControlName="start_hour"
      id="start_hour"
      type="text"
      class="form-control"
      aria-label="Small"
      [class.is-invalid]="start_hour.invalid && start_hour.touched"
      required
      aria-describedby="inputGroup-sizing-sm"
    />
    <div class="input-group-prepend">
      <span class="input-group-text span-width" id="inputGroup-sizing-sm">Time out</span>
    </div>
    <input
      formControlName="end_hour"
      type="text"
      id="end_hour"
      class="form-control"
      aria-label="Small"
      [class.is-invalid]="end_hour.invalid && end_hour.touched"
      required
      aria-describedby="inputGroup-sizing-sm"
    />
  </div>

  <app-technologies
    (technologyAdded)="onTechnologiesUpdated($event)"
    (technologyRemoved)="onTechnologiesUpdated($event)"
    [selectedTechnologies]="selectedTechnologies"
  >
  </app-technologies>

  <div class="form-group text-left">
    <label for="NotesTextarea">Description</label>
    <textarea formControlName="description" class="form-control" id="NotesTextarea" rows="3"></textarea>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="!entryForm.valid">Save</button>
    <button #closeModal type="button" class="btn btn-secondary" data-dismiss="modal" >
      Close
    </button>
  </div>
</form>
