@import '../../../../../styles/colors.scss';

.user-profile {
  color: black;
  cursor: pointer;
}

.dropdown-menu {
  margin-left: 50%;
  transform: translateX(-50%);
}

.style-click:active {
  background-color: $primary;
  color: white;
}
