@import '../../../../../styles/colors.scss';

.round {
  width:40px;
  height:40px;
  border-radius:150px;
}

.user-profile {
  color: black;
  cursor: pointer;
}

.style-click:active {
  background-color: $primary;
  color: white;
}
