@import '../../../styles/colors.scss';

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 50px;
}

.login-header {
  margin: 5px;
  text-align: center;

  img {
    max-width: 200px;
    height: auto;
  }
}

.login-body {
  margin: 5px;
  text-align: center;
}

.login-controls {
  margin: 5px;
  display: flex;
  text-align: center;
  min-width: 250px;

  button {
    flex-grow: 1;
  }
}

h3 {
  color: $dark;
  font-weight: normal;
}
