<div class="login-container">

  <div class="login-header">
    <img src="../../../assets/img/ioet.png" />
  </div>
  <div class="login-body">
    <h3>Please log in</h3>
  </div>

  <div class="login-controls" *ngIf="!isDevelopment">
    <button (click)="login()" class="btn btn-primary">login</button>
  </div>

  <div class="container" style="max-width: 550px" *ngIf="isDevelopment">
    <div >
      <div class="login-controls">
        <button type="button" (click)="loginWithGoogle()"  class="btn btn-primary">Login with Google</button>
      </div>
    </div>
  </div>

</div>
