/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import '~bootstrap/scss/bootstrap';
@import './styles/colors.scss';
@import '../node_modules/angular-calendar/css/angular-calendar.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: scroll;
  overflow-y: hidden;
}

.table.dataTable th,
.table.dataTable td {
  box-sizing: border-box;
}

.autocomplete-container {
  @extend .autocomplete-container;
  box-shadow: none;
  border: $input-border-width solid $input-border-color;
}

.timepicker-overlay {
  z-index: 1100 !important;
}

.timepicker-backdrop-overlay {
  z-index: 1100 !important;
}

/**
Overwritten calendar style
*/

.cal-today {
  background-color: $background-calendar-cell !important;
}
.cal-today:hover {
  background-color: darken($background-calendar-cell, 7%) !important;
}

.cal-week-view .cal-day-headers {
  position: sticky;
  top: 0;
  z-index: 10;
  background: $background-calendar-cell;
}

.cal-month-view .cal-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: $background-calendar-cell;
}

.cal-header .cal-cell {
  border: 0.1px solid lighten($primary-text, 30%);
}

@media (max-width: 640px) {
  div.dt-buttons {
    text-align: start !important;
  }
  .dataTables_wrapper .dataTables_filter {
    text-align: start !important;
  }
  div.dt-button-collection {
    position: fixed !important;
    top: 250px !important;
    margin-left: 50px !important;
    overflow-y: scroll !important;
    max-height: 300px !important;
    button.active:not(.disabled) {
      background: $primary !important;
      box-shadow: none !important;
    }
  }
}

@media (min-width: 576px) {
  div.dt-button-collection {
    button.active:not(.disabled) {
      background: $primary !important;
      box-shadow: none !important;
    }
  }
}
