<table
  *ngIf="users && (isLoading$ | async) === false"
  class="table table-sm table-bordered table-striped mb-0"
  datatable
  [dtOptions]="dtOptions"
>
  <thead class="thead-blue">
    <tr class="d-flex">
      <th class="col">User Email</th>
      <th class="col">Names</th>
      <th class="col" *ngIf="isFlagOn">Roles</th>
    </tr>
  </thead>
  <app-loading-bar *ngIf="isLoading$ | async"></app-loading-bar>
  <tbody *ngIf="(isLoading$ | async) === false">
    <tr class="d-flex" *ngFor="let user of users">
      <td class="col">{{ user.email }}</td>
      <td class="col">{{ user.name }}</td>
      <td class="col text-center" *ngIf="isFlagOn">
        <div>
          <ui-switch size="small" (change)="revokeOrGrantRole(user.id, user.role)" [checked]="isAdmin(user.role)"></ui-switch>
          Admin
        </div>
        <div>
          <ui-switch size="small"></ui-switch>
          Test
        </div>
      </td>
    </tr>
  </tbody>
</table>
