<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-dark rounded-bottom" id="sidebar-wrapper">
        <div class="list-group options-sidebar-hover">
            <a [routerLink]="['/getting-started']" routerLinkActive="color-item-active" class="list-group-item list-group-item-action bg-dark text-white" style="border-color: #565264;"><i class="fas fa-flag"></i> Getting Started</a>
            <a [routerLink]="['/time-clock']" routerLinkActive="color-item-active" class="list-group-item list-group-item-action bg-dark text-white " style="border-color: #565264;"><i class="far fa-clock"></i> Time Clock</a>
            <a [routerLink]="['/time-entries']" routerLinkActive="color-item-active" class="list-group-item list-group-item-action bg-dark text-white " style="border-color: #565264;"><i class="far fa-list-alt"></i> Time Entries</a>
            <a [routerLink]="['/time-off']" routerLinkActive="color-item-active" class="list-group-item list-group-item-action bg-dark text-white " style="border-color: #565264;"><i class="far fa-paper-plane"></i> Time Off</a>
            <a [routerLink]="['/reports']" routerLinkActive="color-item-active" class="list-group-item list-group-item-action bg-dark text-white " style="border-color: #565264;"><i class="fas fa-chart-pie"></i> Reports</a>
            <a [routerLink]="['/project-management']" routerLinkActive="color-item-active" class="list-group-item list-group-item-action bg-dark text-white " style="border-color: #565264;"><i class="far fa-folder-open"></i> Projects</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->