@import '../../../../styles/colors.scss';

.content-ClockIn {
  padding: 2.1rem 1rem;
}

.timer {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.text-clock-in-color {
  color: $modal-button-secondary;
}
