.content-ClockIn {
  padding: 2.1rem 1rem;
}

.timer {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.title-card {
  background-image: linear-gradient(to left top, #fc5630, #fe503a, #ff4a44, #ff444d, #ff3f56);
}

.input-color {
  background-color: #FF3F56;
  color: white;
}

.button-color {
  background-image: linear-gradient(to right bottom, #ff3f56, #ff444d, #ff4a44, #fe503a, #fc5630);
  color: white;
}
