<app-time-entries-summary></app-time-entries-summary>

<div style="width: 60%;">

  <div class="row pb-4">
    <div class="col-12">
      <p *ngIf="areFieldsVisible" class="card-title text-left">
        You clocked in at
        <strong>{{ activeTimeEntry?.start_date | date:'shortTime' }}</strong>
      </p>
      <p *ngIf="!areFieldsVisible" class="card-title text-left">
        Hi <strong>{{ username }}</strong>, please select a project to clock-in.
      </p>
    </div>

  </div>
  <div class="input-group input-group-sm mb-3 flex-nowrap">
    <div class="input-group-prepend">
      <span class="input-group-text span-width" id="inputGroup-sizing-sm">Project</span>
    </div>
    <app-project-list-hover class="w-100"></app-project-list-hover>
  </div>
  <div *ngIf="areFieldsVisible">
    <app-entry-fields></app-entry-fields>
  </div>

  <div class="form-group" style="text-align: right;">
    <button *ngIf="areFieldsVisible" class="btn btn-primary" type="button" (click)="clockOut()">
      Clock Out
    </button>
  </div>
</div>
