<app-time-entries-summary></app-time-entries-summary>

<div class="col-12 col-md-9 px-0">

  <div class="row pb-4">
    <div class="col-12">
      <p *ngIf="areFieldsVisible" class="card-title text-left">
        You clocked in at
        <strong>{{ activeTimeEntry?.start_date | date:'shortTime' }}</strong>
      </p>
      <p *ngIf="!areFieldsVisible" class="card-title text-left">
        Hi <strong>{{ username }}</strong>, please select a project to clock-in.
      </p>
    </div>
  </div>

  <app-project-list-hover></app-project-list-hover>
  <div *ngIf="areFieldsVisible">
    <app-entry-fields></app-entry-fields>
  </div>

  <div class="form-group">
    <button *ngIf="areFieldsVisible" class="btn btn-primary btn-block" type="button" (click)="clockOut()">Clock Out</button>
  </div>

  <div class="row pt-5">
    <div class="col-sm-6">
        <label >Mensajes del servidor</label>
        <textarea rows="5" class="form-control">{{messageFromServer}}</textarea>
    </div>
    <div class="col-sm-5">
        <form [formGroup]="form" (ngSubmit)="sendMessage()">
            <label  class="form-label">Texto a enviar</label>
            <input type="text" formControlName="message" class="form-control">
            <button type="submit" class="btn btn-primary mt-2">Enviar</button>
        </form>
    </div>
  </div>

</div>
