<div class="container-fluid px-0 full-height">
  <div class="row">
    <div style="padding: 15px;">
      <button (click)="activateCustomerForm()" class="btn btn-primary">Add new customer</button>
    </div>
  </div>
  <app-customer-list
    [showCustomerForm]="showCustomerForm"
    (changeValueShowCustomerForm)="showCustomerForm = $event"
  ></app-customer-list>
  <div class="row" *ngIf="showCustomerForm">
    <div class="col">
      <app-management-customer-projects (closeCustemerForm)="closeCustomerForm($event)"></app-management-customer-projects>
    </div>
  </div>
</div>
