<div class="form-group">
  <label>Technology:</label>
  <input
    autocomplete="off"
    (keyup)="queryTechnologies($event)"
    id="technologies"
    type="text"
    class="form-control"
    [(ngModel)]="query"
  />

  <div *ngIf="isLoading">
    <img src="assets/img/spinner.gif" />
  </div>

  <div #technologiesDropdown *ngIf="technology && showList" class="form-group technologies-dropdown-container">
    <div
      *ngFor="let item of technology.items"
      (click)="addTechnology(item.name)"
      class="technologies-dropdown-item">
      {{ item.name }}
    </div>
  </div>
</div>
<div class="form-group">
  <div class="form-group selected-technologies-container" *ngIf="selectedTechnologies?.length">
    <div *ngFor="let technology of selectedTechnologies; let tagIndex = index" class="selected-technology">
      <i class="fas fa-times text-white" (click)="removeTechnology(tagIndex)"></i>
      <span style="padding-left: 0.5rem">{{ technology }}</span>
    </div>
  </div>
  <div class="form-group" *ngIf="selectedTechnologies === null || selectedTechnologies.length === 0">
    <!-- empty-space -->
  </div>

</div>



