@import '../../../../../styles/colors.scss';

.technologies-dropdown-container {
  box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.2), 0 0 0 0.1rem rgba(0, 0, 0, 0.08);
  max-height: 8.5rem;
  overflow-y: auto;
  scroll-snap-type: y mandatory;

  .technologies-dropdown-item {
    cursor: pointer;
    font-size: small;
    padding: 0.2rem 0.5rem;

    &:hover {
      opacity: 0.7;
      background-color: #efefef;
    }
  }
}

.selected-technology {
  background-color: $secondary;
  color: white;
  border-radius: 0.1rem;
  box-shadow: rgba(0, 0, 0, 0.75);
  font-size: small;
  padding: 0.1rem 1rem 0.1rem 1rem;
  position: relative;
  margin: 0 0.5rem 0.5rem 0;
  display: inline-block;
  &:hover {
    opacity: 0.8;
  }

  i {
    cursor: pointer;
  }
}

.span-width {
  width: 6rem;
  background-color: $primary;
  color: white;
}
